body {
  margin: 0;
  background: repeating-linear-gradient(
    to bottom,
    #000 0px,
    #000 2px,
    #111 4px
  );
  font-family: 'Courier New', monospace;
  color: #33ff33;
  padding: 10px;
  font-size: 16px;
  overflow: hidden;
}

#console {
  white-space: pre-wrap;
  word-wrap: break-word;
}
